{% extends "base.html" %}
{% block  content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcom To Malaz Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p  align="justify">Welcome to 'Malaz Ecommerce', your trusted destination for quality products and exceptional service. We curate a diverse selection of items, ensuring each meets our high standards. With a user-friendly platform and a dedicated team, we prioritize your satisfaction. Shop with us for a seamless experience from start to finish. Thank you for choosing 'Malaz Ecommerce'.</p>
            </div>
        </center>    
    </div>
</div>        


{% endblock %}